
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcel Table</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
    <!--<script type="text/javascript" src="app/static/app.static"></script>-->
    {% block head %} {% endblock %}
</head>
<body>
    {%block content%} {%endblock%}
</body>
</html>